<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="crypto-cardo">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `crypto-cardo`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CryptoCardo extends Polymer.Element {
      static get is() { return 'crypto-cardo'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'crypto-cardo'
          }
        };
      }
    }

    window.customElements.define(CryptoCardo.is, CryptoCardo);
  </script>
</dom-module>
